DEVELOPMENT_DATABASE_URL="postgresql://we_love_movies_db_btbp_user:LqYzLOKXkCbws6TpNS5CKs0pYWugvqmI@dpg-d1gefq2li9vc73ai91pg-a/we_love_movies_db_btbp"
PRODUCTION_DATABASE_URL="postgresql://we_love_movies_db_btbp_user:LqYzLOKXkCbws6TpNS5CKs0pYWugvqmI@dpg-d1gefq2li9vc73ai91pg-a.oregon-postgres.render.com/we_love_movies_db_btbp?ssl=true"